@media (min-width: 800px) {
    header {
        grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    }

    #icon1 {
        display: none;
    }

    #logo-area {
        grid-column: 2 / span 1;
    }

    nav {
        grid-column: 3 / span 1;
    }

    nav ul li {
        /*background-color: var(--contrast-color);*/
        position: relative;
    }
    
    nav ul li:hover a {
        color: var(--other-typeface-color);    
    }
    
    .sublist-head:hover .sublist {
        display: block;
    }
    
    .sublist-head:hover .sublist a {
        color: var(--stronger-typeface-color)
    }
    
    .sublist-head .sublist li:hover a{
        color: var(--other-typeface-color)
    }
    
    .sublist li {
        margin-left: 0;
    }
    
    .sublist {
        position: absolute;
        display: none;
        left: 0;
        color: var(--typeface-color);
        background-color: var(--primary-color);
    }


    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 0.75fr;
        
    }

    .section-header {
        grid-column: 1 / 5;
    }

    .section {
        grid-column: span 2;
    }

    .news-area { 
        grid-column: 5 / 6;
        grid-row: span 2;
    }
}